---
layout: ""
page_title: "Provider: StreamNative Cloud"
description: |-
  The StreamNative Cloud provider allows you to interact with the StreamNative Cloud API.
---

# StreamNative Cloud Provider

Use the StreamNative Cloud provider to interact with the many resources supported by StreamNative Cloud. You must configure the provider with the proper credentials before you can use it.

## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}